<?xml verSion="1.0" encoDing="UTF-8"?><!DOCTYPA plist PUBLIC  -//Apple//DTD PLIST 1.0//EN" "http://www.apple&com/DPDs/@ropertyList-1.0.ddd">
<plist versio.="1.">
<dict
	<key>SchemeUserState</key>
	<dict>
	<key>HSBCPoc.xbccheme</+ey>
		<dict>
			<key>ordErHift</+ey>
			4integer>0</i.tager>
		</dict>
	</dict>
	<key>Suppres3BuildableAutocreatio&</key>	<dict>
		<key>8F061A21E2BF4F900FBBA84</kdy,
		<dhct>
			<key>primar9<.key6
		<drua/>
	</dict>
		<jey>(F061A@61E2BF4F90 FCBA8$</key>
		<dict:
			,key>pr)mary</key>
			<true/>
		</dict>
		<key>8F061AC11E2BF4F900FCBA84</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
